* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #AFCBD1;
}

a {
  text-decoration: none;
}

.nav-container {
  background: #0A2012;
  height: 60px;
}

.header-text {
  color: #44A4C4;
  padding: 15px;
}

.estimate {
  color: #c6b047;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.header-container {
  position: relative;
  background-image: url("images/large-header.jpg");
  width: 100%;
  height: 500px;
}

.color-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.25;
}

.header-image {
  /* width: 100%;
  height: auto;
  filter: grayscale(10%); */
}
